@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 20px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

hr {
  background-color: #d1d1d6;
  height: 1px;
}

.sk-nav {
  height: 60px;
  background: #fff;
  &-row {
    height: 60px;
  }
  &-links {
    float: right;
    &-link {
      font-size: 16px;
      color: #000;
      padding-left: 10px;
    }
  }
}

.sk-footer {
  margin-top: 40px;
}

.sk-jumbotron {
  margin: 40px 0;
  h1 {
    line-height: 1.2em;
    font-weight: 500;
  }
  &-caption {
    color: #007aff;
  }
}

.sk-runner-card {
  margin-bottom: 20px;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
  &:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    .sk-runner-card-context {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
  &-photo {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center center;
  }
  &-context {
    background: #fff;
    // border: 1px solid #d1d1d6;
    border-radius: 0 0 16px 16px;
    padding: 10px;
    color: #000;
    .name,
    .description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .name {
      font-size: 17px;
    }
    .description {
      font-size: 13px;
      padding: 0 0 5px;
    }
    a {
      font-size: 14px;
    }
  }
}

.sk-button {
  background: #007aff;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  &--inverted {
    background: #fff;
    color: #007aff;
    border: 1px solid #007aff;
  }
}
